<?xml version="1.0"?>
<!DOCTYPE grupo SYSTEM "padrao.dtd">

<grupo nome="Menu">

    <menu nome="Cadastros">
        <item nome="Planejamento" href="Planejamento.do" perfil="mtb" />
        <item nome="Órgãos Responsáveis" href="OrgaoResponsavel.do" perfil="mtb" />
        <item nome="Entidades Executoras" href="EntidadeExecutora.do" perfil="mtb" />
        <item nome="Categoria" href="Categoria.do" perfil="mtb" />
        <item nome="SubCategoria" href="SubCategoria.do" perfil="mtb" />
    </menu>
    
    <menu nome="Entrada de Recursos">
        <item nome="Grupo" href="GrupoTipoFonte.do" perfil="mtb" />
        <item nome="SubGrupo" href="TipoFonte.do" perfil="mtb" />
        <item nome="Lançamento de recursos" href="Fonte.do" perfil="mtb" />
    </menu>
    
    <menu nome="Uso dos Recursos">
        <item nome="Atividades" href="SubAtividade.do" perfil="mtb" />
        <item nome="Copiar Planejamento" href="Migrar.do" perfil="mtb" />
        <item nome="Validação do Projeto" href="ValidacaoProjeto.do" perfil="mtb" />
    </menu>

    <menu nome="Gestão Financeira">
        <item nome="Pedidos de Saque" href="Pedido.do" perfil="mtb" />
        <!--item nome="Internalizações" href="Internalizacao.do" perfil="mtb" /-->
        <item nome="Entrada de Aplicações Financeiras" href="InternalizacaoAplicacaoFinanceira.do" perfil="mtb" />
        <item nome="Despesas de Aplicações Financeiras" href="DespesaAplicacaoFinanceira.do" perfil="mtb" />
        <item nome="Despesas Bancárias de Aplicações" href="LoteDespesaAplicacao.do" perfil="mtb" />
        <item nome="Entrada de Devoluções" href="InternalizacaoDevolucao.do" perfil="mtb" />
        <item nome="Entrada de Lotes Bancários" href="InternalizacaoLoteBancario.do" perfil="mtb" />
        <item nome="Despesas Inelegíveis" href="DespesaInelegivel.do" perfil="mtb" />
        <item nome="Despesas em outra data" href="DespesaDataExibicao.do" perfil="mtb" />
        <item nome="Despesas Ordenadas" href="DespesaOrdenada.do" perfil="mtb" />
        <item nome="Despesas de Viagens" href="DespesaViagem.do" perfil="mtb" />
        <item nome="Correção de valores" href="CorrecaoValor.do" perfil="mtb" />
        <item nome="Correção de Centro de Custo" href="CorrecaoCC.do" perfil="mtb" />
        <item nome="Correção de Nomes" href="CorrecaoNome.do" perfil="mtb" />
        <item nome="Lançamentos avulsos" href="LancamentoAvulso.do" perfil="mtb" />
        <!--item nome="Contratos" href="Contrato.do" perfil="mtb" /-->
        <item nome="Simulador" href="Simulador.do" perfil="mtb" />
        <!--item nome="Validação Financeira" href="ValidacoesFinanceira.do" perfil="mtb"/-->
        <item nome="Validação de Transferencia" href="Transferencia.do" perfil="mtb"/>
        <item nome="Rateio Centro de Custo" href="RateioCentroCusto.do" perfil="mtb"/>
        
    </menu>

    <menu nome="Consultas">
        <item nome="Saldo das Internalizações Real" href="InternalizacaoSaldo.do?pagina=real" perfil="mtb" />
        <item nome="Saldo das Aplicações" href="Relatorio.do?metodo=filtroRelatorioEstoqueDolarAplicacao" perfil="mtb" />
    </menu>

    <menu nome="Relatórios">
        <item nome="Gerencial Financeiro" href="Relatorio.do?metodo=filtroRelatorioGerencialFinanceiro" perfil="mtb" />
    </menu>
    
 
</grupo>