<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd">
    <description>Projeto Bahia Produtiva</description>
    <display-name>Ba Produtiva</display-name>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>applicationresources</param-value>
    </context-param>
    <listener>
        <listener-class>br.org.flem.fwe.web.converter.ConverterListener</listener-class>
    </listener>
    <filter>
        <filter-name>LoginFiltro</filter-name>
        <filter-class>br.org.flem.fw.web.filtro.LoginFiltro</filter-class>
    </filter>
    
    
    <filter-mapping>
        <filter-name>LoginFiltro</filter-name>
        <url-pattern>/luptaf</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.html</url-pattern>
        <url-pattern>/dwr/*</url-pattern>
    </filter-mapping>
    
    
    <filter>
        <filter-name>FechaSessao</filter-name>
        <filter-class>br.org.flem.fwe.web.filtro.FechaSessao</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FechaSessao</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DWR controller servlet</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CarregaRecursosTag</servlet-name>
        <servlet-class>br.org.flem.fwe.web.taglib.CarregaRecursosTag</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <description>DWR controller servlet</description>
        <servlet-name>DWR controller servlet</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>classes</param-name>
            <param-value>
                br.org.flem.baprodutiva.web.dwr.Funcoes,
                br.org.flem.fw.persistencia.dto.Usuario,
                br.org.flem.baprodutiva.negocio.Categoria,
                br.org.flem.baprodutiva.negocio.SubCategoria,
                br.org.flem.baprodutiva.negocio.CompositeNoAtividade,
                br.org.flem.baprodutiva.negocio.CompositeFolha,
                br.org.flem.baprodutiva.negocio.CompositeNo,
                br.org.flem.baprodutiva.negocio.CompositeIF,
                br.org.flem.baprodutiva.negocio.CompositeABS,
                br.org.flem.baprodutiva.negocio.GrupoTipoFonte,
                br.org.flem.baprodutiva.negocio.TipoFonte,
                br.org.flem.baprodutiva.negocio.FinanceiroPrevisto,
                br.org.flem.baprodutiva.negocio.TipoSubProjeto,
                br.org.flem.baprodutiva.negocio.OrgaoResponsavel,
                br.org.flem.baprodutiva.negocio.OrigemCusto,
                br.org.flem.baprodutiva.negocio.EntidadeExecutora,
                br.org.flem.fw.service.CentroResponsabilidade
            </param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LocaleServlet</servlet-name>
        <servlet-class>br.org.flem.fw.web.servlet.LocaleServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AgendadorTarefasServlet</servlet-name>
        <servlet-class>br.org.flem.baprodutiva.quartz.AgendadorTarefasServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>QuartzInitializer</servlet-name>
        <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarregaRecursosTag</servlet-name>
        <url-pattern>/flembase/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>360</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>jcifs.smb.SmbException</exception-type>
        <location>/jcifis.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro.jsp</location>
    </error-page>
</web-app>
